/* ProjectDetails.css */

.project-table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  .project-table * {
    position: relative;
  }
  
  .project-table td,
  .project-table th {
    padding-left: 8px;
  }
  
  .project-table thead tr {
    height: 60px;
    background: #ffed86;
    font-size: 16px;
  }
  
  .project-table tbody tr {
    height: 48px;
    border-bottom: 1px solid #e3f1d5;
  }
  
  .project-table tbody tr:last-child {
    border: 0;
  }
  
  .project-table td,
  .project-table th {
    text-align: left;
  }
  
  .project-table td.l,
  .project-table th.l {
    text-align: right;
  }
  
  .project-table td.c,
  .project-table th.c {
    text-align: center;
  }
  
  .project-table td.r,
  .project-table th.r {
    text-align: center;
  }
  
  @media screen and (max-width: 35.5em) {
    .project-table {
      display: block;
    }
  
    .project-table > *,
    .project-table tr,
    .project-table td,
    .project-table th {
      display: block;
    }
  
    .project-table thead {
      display: none;
    }
  
    .project-table tbody tr {
      height: auto;
      padding: 8px 0;
    }
  
    .project-table tbody tr td {
      padding-left: 45%;
      margin-bottom: 12px;
      position: relative;
    }
  
    .project-table tbody tr td:last-child {
      margin-bottom: 0;
    }
  
    .project-table tbody tr td:before {
      position: absolute;
      font-weight: 700;
      width: 40%;
      left: 10px;
      top: 0;
    }
  
    .project-table tbody tr td:nth-child(1):before {
      content: "Code";
    }
  
    .project-table tbody tr td:nth-child(2):before {
      content: "Stock";
    }
  
    .project-table tbody tr td:nth-child(3):before {
      content: "Cap";
    }
  
    .project-table tbody tr td:nth-child(4):before {
      content: "Inch";
    }
  
    .project-table tbody tr td:nth-child(5):before {
      content: "Box Type";
    }
  }
  

  
  blockquote {
    color: white;
    text-align: center;
  }
  